
<div class="container grid">
	<div class="filler"></div>
	<div class="side">
		<div *ngFor="let j of indices" [class]="getClass(2, j)"></div>
	</div>
	<div></div>
	<div></div>
	<div class="side">
		<div *ngFor="let j of indices" [class]="getClass(4, j)"></div>
	</div>
	<div class="side">
		<div *ngFor="let j of indices" [class]="getClass(0, j)"></div>
	</div>
	<div class="side">
		<div *ngFor="let j of indices" [class]="getClass(5, j)"></div>
	</div>
	<div class="side">
		<div *ngFor="let j of indices" [class]="getClass(1, j)"></div>
	</div>
	<div class="filler"></div>
	<div class="side">
		<div *ngFor="let j of indices" [class]="getClass(3, j)"></div>
	</div>
	<div></div>
	<div></div>
</div>

