<div class="content">
  <div class="row">
    <h1 class="col-10">Dybkube</h1>
    <span class="col-2">
      <p>Server</p>
      <select [(ngModel)]="httpService.selectedHost">
        <option *ngFor="let host of httpService.hosts" [ngValue]="host">{{host.name}}</option>
      </select>
    </span>
  </div>
  <div class="row" *ngIf="!(commonService.status.loading && !commonService.status.hasData) else loading">
    <div class="col-4">
      <p>
        Udviklet af Asger Schultz (<a href="mailto:s183912@student.dtu.dk">s183912@student.dtu.dk</a>),
        Søren Winkel Holm (<a href="mailto:s183911@student.dtu.dk">s183911@student.dtu.dk</a>) og
        Anne Agathe Pedersen (<a href="mailto:s174300@student.dtu.dk">s174300@student.dtu.dk</a>).
        Repository tilgængeligt på <a href="https://github.com/sorenmulli/rl-rubiks">GitHub</a>.
      </p>

      <h2 class="h5 mt-4">Foretag handling</h2>
      <!-- Træk -->
      <!-- TODO: Overvej toolbar https://getbootstrap.com/docs/4.4/components/btn-group/ -->
      <div style="max-width: 450px;">
        <div class="row my-1">
          <div class="col-2" *ngFor="let i of [0, 2, 4, 6, 8, 10]">
            <button class="btn btn-secondary btn-action" (click)="commonService.act(i)" [disabled]="commonService.status.loading">
              {{commonService.actions[i]}}
            </button>
          </div>
        </div>
        <div class="row my-1">
          <div class="col-2" *ngFor="let i of [1, 3, 5, 7, 9, 11]">
            <button class="btn btn-secondary btn-action" (click)="commonService.act(i)" [disabled]="commonService.status.loading">
              {{commonService.actions[i]}}
            </button>
          </div>
        </div>
      </div>
      <!-- Nulstilling -->
      <button class="btn btn-secondary my-1" (click)="commonService.getSolved()" [disabled]="commonService.status.loading">Nulstil</button>
      <!-- Scrambling -->
      <form class="form-inline my-1" (ngSubmit)="commonService.scramble(scrambleDepth)">
        <button class="btn btn-secondary" type="submit" [disabled]="commonService.status.loading">Foretag</button>
        <div class="form-group mx-2">
          <input type="number" class="form-control" style="width: 6rem;" [(ngModel)]="scrambleDepth" [ngModelOptions]="{standalone: true}">
        </div>
        tilfældige træk.
      </form>

      <h2 class="h5 mt-4">Agenter</h2>
      <p>Agenterne opretter en kø af træk, der giver den løste tilstand, såfremt den er fundet.</p>
      <p *ngIf="!commonService.cuda">
        Vær opmærksom på, at cuda ikke er tilgængelig på den valgte server, så agenter med neuralt netværk vil køre forholdsvist langsomt.
      </p>
      <p *ngIf="!commonService.cuda && httpService.selectedHost.name !== 'Lokal'">
        Hvis cuda er tilgængelig på din maskine, kan du med fordel starte en lokal server op ved at køre src/__init__.py-scriptet.
      </p>
      <form class="form-inline" (ngSubmit)="commonService.solve()">
        <button type="submit" class="btn btn-secondary mr-2" [disabled]="commonService.status.loading">Forsøg</button>
        at løse på
        <div class="form-group mx-2">
          <input type="number"
                 class="form-control"
                 style="width: 6rem;"
                 [(ngModel)]="commonService.timeLimit"
                 [ngModelOptions]="{standalone: true}">
        </div>
        sekunder med
        <select class="my-2" [(ngModel)]="commonService.selectedAgent" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let agent of commonService.agents; let i = index" [ngValue]="i">{{agent}}</option>
        </select>
      </form>
      <div *ngIf="commonService.hasSearchedForSolution">
        <p *ngIf="commonService.hasSolution">En løsning på {{commonService.solveActions.length}} træk blev fundet.</p>
        <p *ngIf="commonService.hasSolution">Træk: {{commonService.solveActions.join(" ")}}</p>
        <p *ngIf="!commonService.hasSolution">{{commonService.solveActions.length+1}} tilstande blev undersøgt, men en løsning blev ikke fundet.</p>
      </div>
    </div>

    <div class="col-8">
      <div style="height: 50;"></div>
      <app-rubiks></app-rubiks>
      <ng-container *ngIf="commonService.status.loading" [ngTemplateOutlet]="loading"></ng-container>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="lds-spinner" style="margin: auto; display: block;"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</ng-template>


