<div class="content" *ngIf="hasData">
  <div class="row">
    <div class="col-4">
      <h1>Dybkube</h1>
      <p>
        Udviklet af Asger Schultz (<a href="mailto:s183912@student.dtu.dk">s183912@student.dtu.dk</a>),
        Søren Winkel Holm (<a href="mailto:s183911@student.dtu.dk">s183911@student.dtu.dk</a>) og
        Anne Agathe Pedersen (<a href="mailto:s174300@student.dtu.dk">s174300@student.dtu.dk</a>).
        Repository tilgængeligt på <a href="https://github.com/sorenmulli/rl-rubiks">GitHub</a>.
      </p>

      <h2 class="h5 mt-4">Foretag handling</h2>
      <!-- Træk -->
      <!-- TODO: Overvej toolbar https://getbootstrap.com/docs/4.4/components/button-group/ -->
      <div style="max-width: 450px;">
        <div class="row my-1">
          <div class="col-2" *ngFor="let i of [0, 2, 4, 6, 8, 10]">
            <button class="btn btn-secondary btn-action" (click)="commonService.act(i)">
              {{commonService.actions[i]}}
            </button>
          </div>
        </div>
        <div class="row my-1">
          <div class="col-2" *ngFor="let i of [1, 3, 5, 7, 9, 11]">
            <button class="btn btn-secondary btn-action" (click)="commonService.act(i)">
              {{commonService.actions[i]}}
            </button>
          </div>
        </div>
      </div>
      <!-- Nulstilling -->
      <button class="btn btn-secondary my-1" (click)="commonService.getSolved()">Nulstil</button>
      <!-- Scrambling -->
      <form class="form-inline my-1" (ngSubmit)="commonService.scramble(scrambleDepth)">
        <button class="btn btn-secondary" type="submit">Foretag</button>
        <div class="form-group mx-2">
          <input type="number" class="form-control" style="width: 6rem;" [(ngModel)]="scrambleDepth" [ngModelOptions]="{standalone: true}">
        </div>
        tilfældige træk.
      </form>

      <h2 class="h5 mt-4">Agenter</h2>
      <p>Agenterne opretter en kø af træk, der giver den løste tilstand, såfremt den er fundet.</p>
      <p *ngIf="!commonService.cuda">
        Vær opmærksom på, at cuda ikke er tilgængelig på din maskine, så agenter med neuralt netværk vil køre forholdsvist langsomt.
      </p>
      <form class="form-inline" (ngSubmit)="commonService.solve()">
        <button type="submit" class="btn btn-secondary mr-2">Forsøg</button>
        at løse på
        <div class="form-group mx-2">
          <input type="number"
                 class="form-control"
                 style="width: 6rem;"
                 [(ngModel)]="commonService.timeLimit"
                 [ngModelOptions]="{standalone: true}">
        </div>
        sekunder med
        <select class="my-2" [(ngModel)]="commonService.selectedAgent" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let agent of commonService.agents; let i = index" [ngValue]="i">{{agent}}</option>
        </select>
      </form>
      <div *ngIf="commonService.hasSearchedForSolution">
        <p *ngIf="commonService.hasSolution">En løsning på {{commonService.solveActions.length}} træk blev fundet.</p>
        <p *ngIf="commonService.hasSolution">Træk: {{commonService.solveActions.join(" ")}}</p>
        <p *ngIf="!commonService.hasSolution">{{commonService.solveActions.length}} træk blev foretaget, men en løsning blev ikke fundet.</p>
      </div>
      <input [(ngModel)]="httpService.ip">
    </div>

    <div class="col-8">
      <div style="height: 100px;"></div>
      <app-rubiks></app-rubiks>
    </div>
  </div>
</div>

<ng-template #solved>
  Løst
</ng-template>

<ng-template #notSolved>
  Ikke løst
</ng-template>

