<div class="content">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-sm navbar-light mb-2">
    <a class="navbar-brand" href="https://github.com/peleiden" target="\_blank">
      <img src="assets/logo.png" alt="Peleiden" width="30">
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" [routerLink]="['cube']">Cube</a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" [routerLink]="['appendix']">Appendix</a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" [routerLink]="['documentation']">Documentation</a>
      </li>
    </ul>
  </nav>
  <!-- Title and server selection -->
  <div class="row">
    <h1 class="col-10">Solving Rubik's Cube with Reinforcement Learning</h1>
    <span class="col-2" style="display: flex; align-items: center;">
      Server&nbsp;
      <select [ngModel]="httpService.selectedHost" (ngModelChange)="commonService.setSelectedHost($event)">
        <option *ngFor="let host of httpService.hosts" [ngValue]="host">{{host.name}}</option>
      </select>
    </span>
  </div>
  <router-outlet></router-outlet>
</div>
