
<div class="container grid" *ngIf="commonService.state">
	<div class="filler"></div>
	<div class="side">
		<div *ngFor="let i of indices" [class]="getClass(2, i)"></div>
	</div>
	<div></div>
	<div></div>
	<div class="side">
		<div *ngFor="let i of indices" [class]="getClass(4, i)"></div>
	</div>
	<div class="side">
		<div *ngFor="let i of indices" [class]="getClass(0, i)"></div>
	</div>
	<div class="side">
		<div *ngFor="let i of indices" [class]="getClass(5, i)"></div>
	</div>
	<div class="side">
		<div *ngFor="let i of indices" [class]="getClass(1, i)"></div>
	</div>
	<div class="filler"></div>
	<div class="side">
		<div *ngFor="let i of indices" [class]="getClass(3, i)"></div>
	</div>
	<div></div>
	<div></div>
</div>

