<b> Under construction </b>

<h2> Methods: Using Deep Q-Learning and search on Rubik's Cube </h2>
This project reproduced methods from two articles by Forest Agostinelli, Stephen McAleer, Alexander Shmakov and Pierre Baldi:
 <ul>
     <li><a href="https://www.nature.com/articles/s42256-019-0070-z">Solving the Rubik's cube with deep reinforcement learning and search</a></li>
     <li><a href="https://arxiv.org/abs/1805.07470">Solving the Rubik's Cube Without Human Knowledge</a></li>
</ul>

<h3> 📉 Training a Deep Q Network </h3>
<img src="https://raw.githubusercontent.com/peleiden/rubiks-models/master/somerolloutcompare/smallroll/training_SMALLROLL.png" alt="Loss curve" width="960" height="540">

<h3> ⭐ A* </h3>

<h3> 🎲 Monte Carlo Tree Search </h3>

<h3> 🔍 Other search algorithms </h3>
