<div class="row">
  <div class="col-12 col-md-5">
    <h2 class="h5 mt-2">Perform action</h2>
    <!-- Actions -->
    <div style="max-width: 450px;">
      <div class="row my-1">
        <div class="col-2" *ngFor="let i of [0, 2, 4, 6, 8, 10]">
          <button [class]="getActionButtonClass(i)"
                  (click)="cubeService.inplaceRotate(cubeService.actionSpace[i][0], cubeService.actionSpace[i][1])"
                  [disabled]="commonService.status.loading && commonService.status.connectedToServer">
            {{cubeService.actions[i]}}
          </button>
        </div>
      </div>
      <div class="row my-1">
        <div class="col-2" *ngFor="let i of [1, 3, 5, 7, 9, 11]">
          <button [class]="getActionButtonClass(i)"
                  (click)="cubeService.inplaceRotate(cubeService.actionSpace[i][0], cubeService.actionSpace[i][1])"
                  [disabled]="commonService.status.loading && commonService.status.connectedToServer">
            {{cubeService.actions[i]}}
          </button>
        </div>
      </div>
    </div>

    <!-- Reset and scrambling -->
    <form class="form-inline my-1" (ngSubmit)="commonService.scramble(commonService.scrambleDepth)">
      <button class="btn btn-secondary my-1"
              type="button"
              (click)="commonService.reset()"
              [disabled]="commonService.status.loading && commonService.status.connectedToServer">Reset</button>
      <span class="mx-2">or</span>
      <button class="btn btn-secondary"
              type="submit"
              [disabled]="commonService.status.loading && commonService.status.connectedToServer">perform</button>
      <div class="form-group mx-2">
        <input type="number" class="form-control" style="width: 6rem;" [(ngModel)]="commonService.scrambleDepth" [ngModelOptions]="{standalone: true}">
      </div>
      random actions.
    </form>

    <h2 class="h5 mt-4">🤖 Agents</h2>
    <p>Choose a solver from one of our agents. See <a routerLink="/methods">methods</a>&nbsp;for details.</p>
    <form class="form-inline" (ngSubmit)="commonService.solve()" *ngIf="commonService.status.connectedToServer">
      <button type="submit" class="btn btn-secondary mr-2" [disabled]="commonService.status.loading">Try</button>
      to solve in
      <div class="form-group mx-2">
        <input type="number"
                class="form-control"
                style="width: 6rem;"
                [(ngModel)]="commonService.timeLimit"
                [ngModelOptions]="{standalone: true}">
      </div>
      seconds with
      <select class="my-2 ml-2" [(ngModel)]="commonService.selectedSearcher" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let agent of commonService.agents; let i = index" [ngValue]="i">{{agent}}</option>
      </select>
    </form>
    <p *ngIf="commonService.timeLimit >= 30 && httpService.selectedHost.name === 'Heroku'">
      Be aware that the server will time out after 30 seconds of attempting to solve.
    </p>
    <div *ngIf="commonService.hasSearchedForSolution && !commonService.error" class="mt-2">
      <p>
        {{commonService.exploredStates || "A number of"}} states were explored,
        <span *ngIf="commonService.hasSolution">and a solution of {{commonService.solveLength}} steps was found.</span>
        <span *ngIf="!commonService.hasSolution">but a solution was not found.</span>
      </p>
      <p *ngIf="commonService.hasSolution"></p>
      <div *ngIf="commonService.hasSolution && commonService.actionQueue.length">
        <p>Actions to solution: {{commonService.prettyActionQueue}}</p>
        <button class="btn btn-secondary mr-2"
                (click)="commonService.step(commonService.actionQueue.pop())"
                [disabled]="commonService.status.loading">Perform one action</button>
        <button class="btn btn-secondary"
                (click)="commonService.animateStates()"
                [disabled]="commonService.status.loading">Perform remaining actions</button>
      </div>
    </div>
    <div class="progress mt-2" *ngIf="commonService.progress">
      <div class="progress-bar" role="progressbar" [ngStyle]="{'width': commonService.getTimeSearchedStyle()}"></div>
    </div>
    <div *ngIf="!commonService.cuda" class="mt-2">
      <div *ngIf="httpService.selectedHost.name === 'Local'">
          <p>
            <strong>Note:</strong> No CUDA available on your local server. Agents will need more time to solve the cube.
          </p>
      </div>
      <div *ngIf="httpService.selectedHost.name === 'Heroku'">
        <p>
          <strong>Note:</strong>
          We are using a free backend server without CUDA so the agents will need considerable time, and memory overflow is common for some agents if given too much time.
          To speed them up, you can <a [routerLink]="['/documentation']">start a local server</a>.
        </p>
      </div>
    </div>
    <p *ngIf="commonService.error">{{commonService.error}}</p>
    <p>
      Developed at the Technical University of Denmark by
        <a href="mailto:s183912@student.dtu.dk">Asger Schultz</a>,
        <a href="mailto:s183911@student.dtu.dk">Søren Winkel Holm</a>, and
        <a href="mailto:s174300@student.dtu.dk">Anne Agathe Pedersen</a>.<br>
      Visit our <a href="https://github.com/peleiden/rl-rubiks" target="_blank">repository on GitHub</a> to try the methods for yourself.
    </p>
    <p *ngIf="!commonService.status.connectedToServer">Connecting to server (this may take a while the first time)...</p>
  </div>

  <!-- Cube -->
  <div class="col-12 col-md-7">
    <div class="container grid" id="cube">
      <div></div>
      <div class="side">
        <div *ngFor="let j of indices" [class]="getStickerClass(2, j)"></div>
      </div>
      <div></div>
      <div></div>
      <div class="side">
        <div *ngFor="let j of indices" [class]="getStickerClass(4, j)"></div>
      </div>
      <div class="side">
        <div *ngFor="let j of indices" [class]="getStickerClass(0, j)"></div>
      </div>
      <div class="side">
        <div *ngFor="let j of indices" [class]="getStickerClass(5, j)"></div>
      </div>
      <div class="side">
        <div *ngFor="let j of indices" [class]="getStickerClass(1, j)"></div>
      </div>
      <div style="height: 150px; padding-top: 4px">
        <div class="loader"*ngIf="!commonService.status.connectedToServer"></div>
      </div>
      <div class="side">
        <div *ngFor="let j of indices" [class]="getStickerClass(3, j)"></div>
      </div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
